# ===== PostgreSQL =====
POSTGRES_USER=ojs
POSTGRES_PASSWORD=ojs_password
POSTGRES_DB=ojs_db

# ===== OJS =====
OJS_CLI_INSTALL=0
OJS_DB_HOST=postgres
OJS_DB_DRIVER=pgsql
OJS_DB_NAME=ojs_db
OJS_DB_USER=ojs
OJS_DB_PASSWORD=ojs_password

# ===== ML Service (uncomment saat ml-service sudah siap diintegrasikan) =====
# ML_SERVICE_URL=http://ml-service:5000/predict

# ===== Telegram (Placeholder) =====
TELEGRAM_BOT_TOKEN=xxxxx
TELEGRAM_CHAT_ID=xxxxx
